.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image {
  width: calc(25% - 10px);
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

  @media (max-width: 800px) {
    .image:nth-of-type(3),
    .image:nth-of-type(4),
    .image:nth-of-type(5),
    .image:nth-of-type(6),
    .image:nth-of-type(11),
    .image:nth-of-type(12) {
      display: none;
    }

    .image {
      width: calc(50% - 10px);
    }
    .image-grid {
    flex-wrap: wrap;
    justify-content: center;
    }

   .image {
   width: calc(50% - 5px);
   margin-bottom: 10px;
    }

  .image:nth-of-type(odd) {
  margin-right: 10px;
   }
  }

    @media (max-width: 600px) {
  .image {
    width: 100%;
    height: auto;
  }
  .image-grid {
    display: flex;
  }
    .image:nth-of-type(2),
    .image:nth-of-type(3),
    .image:nth-of-type(4),
    .image:nth-of-type(6),
    .image:nth-of-type(7),
    .image:nth-of-type(5),
    .image:nth-of-type(10),
    .image:nth-of-type(11),
    .image:nth-of-type(12) {
      display: none;
    }
  }

